[Unit]
Description=Servicio que imprime un saludo y la fecha actual cada segundo
After=network.target

[Service]
ExecStart=ExecStart=/C:/Users/alber/OneDrive/Escritorio/cys/sopes/actividad4/saludo.sh
Restart=always

[Install]
WantedBy=multi-user.target
